.input_Container {
    display: flex;
    margin-top: 50px;
    position: relative;
    text-align: center;
    padding: 15px 25px;
    align-items: center;
    justify-content: center;
}

.input_btn {
    width: 50%;
    display: flex;
    padding: 5px 20px;
    position: relative;
    align-items: center;
    border-radius: 35px;
    border: 1px solid gray;
    justify-content: space-between;
}


.input_text {
    width: 90%;
    resize: none;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 800;
    font-weight: 400;
    font-style: normal;
    padding: 10px 10px;
    background: transparent;
    font-optical-sizing: auto;
    color: rgb(184, 177, 169);
    font-family: "Roboto Condensed", sans-serif;
}