.container {
    position: relative;
    grid-gap: 1rem;
    width: 90%;
    margin: auto;
    display: grid;
    margin-top: 30px;
    margin-left: 100px;
    padding: 10px 20px;
    height: 10% !important;
    /* grid-template-columns:repeat(4,250px); */
    /* grid-template-columns:repeat(auto-fit,min-max(250px,1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

