.material-symbols-outlined {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid gray;
}


.danger {
    border: 1px solid #f00;
    color: rgba(197, 14, 14, 0.872);
}

.danger:hover {
    color: #fff;
    background: rgba(203, 30, 30, 0.817);
}